.curriculum
  %ul.nav.nav-pills
    %li
      %a{role: "presentation", href: "/curriculums"}
        %span
          Curriculum
.curriculum
  = simple_form_for @curriculums do |t|
    
    = t.input :name

    = t.input :content, as: :text

    = t.file_field :path

    = t.button :submit