.user
  = link_to "Home","/home"
.user
  - @users.each do |u|
    %ul
      %li
        = u.name
        = link_to "Delete","/users/#{u.id}", method: :delete
.link= link_to "New User","/users/new"
.likn= link_to "Sign In", "/users/sign_in"